* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lora", serif;
  background-color: rgb(246, 245, 245);
}
.center {
  text-align: center;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}
